<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
    <meta charset="utf-8">
    <title>Liste des Produits</title>
</head>
<body>
<div th:replace="template"></div>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            Liste des Pcs
        </div>
        <div class="card-body">

            <table class="table table-striped">
                <tr>
                    <th>ID</th><th>Nom Pc</th><th>Prix</th>
                </tr>
                <tr th:each="p:${pcs.content}">
                    <td th:text="${p.idPc}"></td>
                    <td th:text="${p.marquePc}"></td>
                    <td th:text="${p.prixPc}"></td>
                    <td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')" th:href="@{supprimerProduit(id=${p.idProduit},
                    page=${currentPage},size=${size})}">Supprimer</a>
                    </td>
                    <td th:if= "${!#strings.isEmpty(p.fournisseur)}" th:text="${p.fournisseur.nom}"></td>
                    <td th:if= "${#strings.isEmpty(p.fournisseur)}" th:text="${'Pas de fournisseur'}"></td>
                    <td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-success"
                           th:href="@{modifierPc(id=${p.idPc},page=${currentPage},size=${size})}"
                    >Editer</a></td>
                </tr>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page,status:${pages}">
                    <a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
                       th:href="@{ ListePcs(page=${status.index}, size=${size} ) }"
                       th:text="${status.index }"></a>
                </li>
            </ul>

        </div>
    </div>
</div>

</body>
</html>